@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Poppins:wght@100;300;400;500;800&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
/* Share Styles */

/* Header Styles */
nav{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 18%;
}
.logo{
    display: flex;
    align-items: center;
    gap: 5%;
}
.logo > img{
    width: 40%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
nav ul li{
    list-style-type: none;
    padding: 9px 14px;
   
}
nav ul li:hover{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
.active{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}
nav ul li a{
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}